<!DOCTYPE html>
<html>
<head>
	<title>3D</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<canvas id="canvas" class="canvas_style"></canvas>
	<script type="text/javascript" src="{{ url_for('static', filename='js/girl.js') }}?2"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/car.js') }}?6"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}?87"></script>
</body>
</html>